<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
      <div class="card">
        <div class="inner-box" id="card">
          <div class="card-back">
            <h1>SIGN UP</h1>
            <form action="/signup" method="post">
              <img id="name" src="/name.png" alt="" />
              <input
                type="text"
                class="input-box"
                placeholder="Your Name"
                name="myname"
                required
              />
              <img id="email" src="/mail-outline.svg" alt="" />
              <input
                type="email"
                class="input-box"
                placeholder="Email"
                name="myemail"
                required
              />
              <img id="pass1" src="/lock-closed-outline.svg" alt="" />
              <input
                type="password"
                class="input-box"
                placeholder="Password"
                name="mypassword"
                required
              />
              <img id="pass2" src="/lock-closed-outline.svg" alt="" />
              <input
                type="password"
                class="input-box"
                placeholder="Confirm Password"
                name="myconfirmpassword"
                required
              />
              <label id="rem">
                <input type="checkbox" /><span>Remember Me</span>
              </label>
              <a href="#" id="forgot">Forgot Password</a>
              <button type="submit" class="sumbit-btn">Sumbit</button>
              <span id="accountregister">Already have a account </span>
              <button type="button"  class="btn" onclick="openlogin()">
                Log In
              </button>
            </form>
          </div>
          <div class="card-front">
            <h1>LOGIN</h1>
            <form action="/login" method="post">
              <img id="email" src="/mail-outline.svg" alt="" />
              <input type="email" class="input-box" placeholder="Email" name="myemail"   required/>
              <img id="pass1" src="/lock-closed-outline.svg" alt="" />
              <input type="password"class="input-box"placeholder="Password" name="mypassword"   required/>
              <label id="remback">
                <input type="checkbox" /><span>Remember Me</span>
              </label>
              <a href="#" id="forgot">Forgot Password</a>
              <button type="submit" class="sumbit-btn">Login</button>
              <span id="accountregister">Don't have a account </span>
              <button type="button" onclick="openregister()" class="btn">
                Register Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>




    <script>
      var card = document.getElementById("card");
      function openregister() {
        // card.style.transform = "rotateY(0deg)";
           window.location.href = "/signup";
         
      }
      // function openlogin() {
      //   card.style.transform = "rotateY(-180deg)";

        
      // }
         
      


    </script>
</body>
</html> -->